{% extends "base.html" %}

{% block content %}
<section class="page-container">

  <h1 class="page-title">Checkout</h1>

  <form method="post" class="checkout-form">
    {% csrf_token %}

    <div class="form-group">
      <label>Nombre</label>
      {{ form.nombre }}
    </div>

    <div class="form-group">
      <label>Email</label>
      {{ form.email }}
    </div>

    <div class="checkout-total">
      Total: <strong>${{ cart.get_total_price }}</strong>
    </div>

    <button type="submit" class="btn-main">
      Confirmar pedido
    </button>
  </form>

</section>
{% endblock %}
